@using Hospital.Web.ViewModels.Directors

@model PatientsInDepartment

<main class="mt-3">
    <h4>@Model.Name</h4>
    @if (Model.Patients.Count > 0)
    {
        <h4>These are the patients in @Model.Name: (number of patients: @Model.Patients.Count)</h4>
        @foreach (PatientInDepartmentDto patient in Model.Patients)
        {
            <p>@patient.FullName</p>
            <p>Address: @patient.Address</p>
            <p>Days left: @patient.DaysStayCount</p>
            <p>Payment for stay: @patient.Payment</p>
            @if (patient.Illnesses.Count > 0)
            {
                <p>Illness of this patient: </p>
                @foreach (IllnessDTO illness in patient.Illnesses)
                {
                    <p>* @illness.Name</p>
                }
            }
        }
    }
</main>
