@using Hospital.Web.ViewModels.Administration.Dashboard.User

@model ICollection<UserRoleViewModel>

<main class="mt-3">
    <h1 class="text-center suls-text-color">Current clinics</h1>
    @foreach (UserRoleViewModel user in Model)
    {
        <div>
            <h2>@user.UserEmail</h2>
            @if (user.Roles.Count > 0)
            {
                <p>This user has these roles</p>
                @foreach (var role in user.Roles)
                {
                    <div>
                        <p>@role.Name</p>
                        <a href="/Administration/Dashboard/RemoveUserRole?roleId=@role.RoleId&userId=@user.UserId" class="btn forum-go-back-btn text-uppercase">Remove @user.UserEmail from @(@role.Name)s</a>
                    </div>
                }
            }
            <br />
            @if (user.AvailableRoles.Count > 0)
            {
                <p>This user can have these roles</p>
                @foreach (var availableRole in user.AvailableRoles)
                {
                    <div>
                        <p>@availableRole.Name</p>
                        <a href="/Administration/Dashboard/AddUserRole?roleId=@availableRole.RoleId&userId=@user.UserId" class="btn forum-go-back-btn text-uppercase">Make @user.UserEmail a @availableRole.Name</a>
                    </div>
                }
            }
        </div>
    }
</main>